{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container my-5">
    <h1 class='text-center my-4'>회원정보 수정 페이지</h1>
    <form action="{% url 'accounts:update' %}" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid gap-2">
            <div class="d-flex justify-content-between">
                <input type="submit" value="정보수정" class='btn btn-warning col-6'>
                <a href="{% url 'accounts:delete' %}" class='btn btn-danger col-6'>계정삭제</a>
            </div>
            <a href="{% url 'accounts:change_password' %}" class='btn btn-primary'>비밀번호 변경</a>
            <a href="{% url 'accounts:index' %}" class='btn btn-success'>목록으로</a>
        </div>
    </form>
</div>
{% endblock %}